//                    ___          ___          ___
//       _____       /  /\        /  /\        /  /\
//      /  /::\     /  /::\      /  /:/_      /  /:/_
//     /  /:/\:\   /  /:/\:\    /  /:/ /\    /  /:/ /\
//    /  /:/~/::\ /  /:/~/::\  /  /:/ /::\  /  /:/ /:/_
//   /__/:/ /:/\:/__/:/ /:/\:\/__/:/ /:/\:\/__/:/ /:/ /\
//   \  \:\/:/~/:|  \:\/:/__\/\  \:\/:/~/:/\  \:\/:/ /:/
//    \  \::/ /:/ \  \::/      \  \::/ /:/  \  \::/ /:/
//     \  \:\/:/   \  \:\       \__\/ /:/    \  \:\/:/
//      \  \::/     \  \:\        /__/:/      \  \::/
//       \__\/       \__\/        \__\/        \__\/

html { box-sizing: border-box; }

*,
*:before,
*:after { box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  background-color: color(white);
  min-height: 100vh;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
