//        ___      ___          ___                 ___
//       /  /\    /  /\        /__/\        ___    /  /\
//      /  /:/_  /  /::\       \  \:\      /  /\  /  /:/_
//     /  /:/ /\/  /:/\:\       \  \:\    /  /:/ /  /:/ /\
//    /  /:/ /:/  /:/  \:\  _____\__\:\  /  /:/ /  /:/ /::\
//   /__/:/ /:/__/:/ \__\:\/__/::::::::\/  /::\/__/:/ /:/\:\
//   \  \:\/:/\  \:\ /  /:/\  \:\~~\~~\/__/:/\:\  \:\/:/~/:/
//    \  \::/  \  \:\  /:/  \  \:\  ~~~\__\/  \:\  \::/ /:/
//     \  \:\   \  \:\/:/    \  \:\         \  \:\__\/ /:/
//      \  \:\   \  \::/      \  \:\         \__\/ /__/:/
//       \__\/    \__\/        \__\/               \__\/

@mixin type--default-font-family {
  font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
}

@mixin type--monospace-font-family {
  font-family: Consolas, monospace;
}

body {
  text-size-adjust: 100%;
  color: color(slate);
  @include type--default-font-family;
}




h1, h2, h3, h4, h5, h6, p, .type {
  margin: 0;
  font-size: inherit;

  + * {
    margin-top: 0.75rem;
  }
}

@mixin type--heading-1 {
  font-weight: 600;
  color: color(white);
  text-align: center;
  line-height: 1;
  @include font-size(heading-1);
}

@mixin type--heading-2 {
  font-weight: 600;
  color: color(gray-dark);
  text-align: center;
  @include font-size(heading-2);
}

@mixin type--heading-3 {
  font-weight: 500;
  text-align: left;
  @include font-size(heading-3);

  @include dark-theme {
    color: color(white);
  }
}

@mixin type--heading-4 {
  font-weight: 600;
  text-align: left;
  color: color(gray-dark);
  @include font-size(heading-4);
}

h1 { @include type--heading-1; }
h2 { @include type--heading-2; }
h3 { @include type--heading-3; }
h4 { @include type--heading-4; }


@mixin type--paragraph {
  @include font-size(paragraph);
  @include default(line-height);
  font-weight: 300;
  color: color(black);

  @include dark-theme {
    color: rgba(color(white), 0.9);
  }
}

p { @include type--paragraph; }



.type--heading-1 { @include type--heading-1; }
.type--heading-2 { @include type--heading-2; }
.type--heading-3 { @include type--heading-3; }
.type--heading-4 { @include type--heading-4; }

.type--paragraph { @include type--paragraph; }

code {
  @include type--monospace-font-family;
  display: inline-block;
  font-size: 0.8em;
  padding: 0.05em 0.25em;
  background-color: rgba(color(black), 0.05);
  color: color(gray-darker);
  @include default(border-radius);

  @include dark-theme {
    background-color: rgba(color(white), 0.1);
    color: rgba(color(white), 0.5);
  }
}



.type--display {
  font-size: 1.3rem;
  margin-top: 0;
  font-weight: 500;
}






.type-container {
  width: 100%;
  max-width: 38rem;
  margin: 0 auto;
  padding: 0 default(spacing);
  margin: default(spacing) auto;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  .grid--outside-spacing {
    padding: 0;
  }
}

.type-container--no-vertical-spacing {
  padding-top: 0;
  padding-bottom: 0;
}

.type-container--large {
  max-width: 50rem;
}

.type--code {
  @include type--monospace-font-family;
  font-size: 0.95em;
}
