<%
  component.config do |config|
    config.defaults text: "I'm a button!"
    config.classes  base: "docks-button"
  end
%>

<button class="<%= component.classes_for(:base) %>"><%= component.text %></button>
