<%
  component.config do |config|
    config.defaults markup: ""
  end
%>


<div class="exploded">
  <div class="exploded__source">
    <%= component.markup %>
  </div>

  <div class="exploded__structure"></div>

  <div class="exploded__details">
    <div class="type-container">
      <div class="type type--heading type--heading-3">
        <span class="exploded__details__tagname type--code"></span>
        <span class="exploded__details__class type--code"></span>
      </div>

      <div class="exploded__details__description"></div>
    </div>
  </div>
</div>
