<div class="details-sheet">
  <div class="details-sheet__section">
    <h6 class="details-sheet__subtitle">Details for</h6>
    <h5 class="details-sheet__name"></h5>
  </div>

  <div class="details-sheet__section">
    <div class="details-sheet__description"></div>
  </div>

  <div class="details-sheet__section">
    <p>When using this <span class="details-sheet__type"></span>, always also use <span class="details-sheet__activate-with"></span>.</p>
    <p>Don't use this <span class="details-sheet__type"></span> with <span class="details-sheet__precludes"></span>.</p>
    <p>This <span class="details-sheet__type"></span> is set by <span class="details-sheet__set-by"></span>.</p>
  </div>
</div>


<div class="details-sheet__overlay"></div>
