//*
// @pattern Buttons
// @tagline Capture all the clicks.
//
// @author Chris Sauve (twitter: _lemonmade)
// @author Jonathan Snook (twitter: snookca)
// @author Ian Mortier (twitter: Heal)
//
// Buttons are used to access actions that should not take the user to a
// separate page. Actions that take the user to another page should use a link
// tag and should not usually use the styles of this component.
//
// Where possible, use an actual button element with these classes. When this
// is not possible or leads to poor rendering behavior, a `div` or `span` is
// an appropriate alternative if its `role` attribute is set to `"button"`.
//
// @deprecated v2.1 - This component has been replaced by `ui_button`. All
// current implementations that use this component should be updated as soon as
// possible.
//
// @introduced_in 1.0

//*
// @title Standard Buttons
//
// A standard button.
//
// @markup
// <button class="docks-button">I'm a button!</button>

.docks-button {
  background-color: color(gray-light);
  color: color(gray-darker);
  border: 1px solid color(gray-darker);
  @include default(border-radius);
  display: inline-block;
  @include font-size(paragraph);
  @include type--default-font-family;
  line-height: default(control-size);
  padding: 0 0.75rem;
  vertical-align: middle;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:focus,
  &:active {
    background-color: shade(color(gray-light), 90);
    outline: none;
  }

  > .icon { margin-right: halve(default(spacing)); }
}

//*
// A lighter variation meant for secondary buttons.
//
// @demo_type joint

.docks-button--subdued {
  border-color: color(gray-dark);
  color: color(gray-dark);
  background-color: transparent;

  &:focus,
  &:active {
    background-color: color(gray-light);
  }
}

//*
// A light variation for when the button is on a dark background.
//
// @demo_type joint

.docks-button--light-on-dark {
  background: transparent;
  border-color: color(white);
  color: color(white);
  opacity: 0.9;

  &:focus,
  &:active {
    opacity: 1;
    background-color: rgba(color(white), 0.1);
  }
}

.docks-button--unstyled {
  width: auto;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid color(gray);

  &:focus,
  &:active {
    background-color: color(gray);
  }
}

//*
// A full width, centered button.
//
// @demo_type select

.docks-button--full-width {
  width: 100%;
  display: flex;
  text-align: center;
}



.docks-button__group {
  display: flex;
  margin-right: -0.5rem;

  > * {
    margin-right: 0.5rem;
  }
}
