body {
  position: relative;

  &.x-ray__helpers--x-ray-is-active {
    overflow: hidden;
  }
}

.x-ray {
  background-color: color(slate);
  position: fixed;
  top: 0; left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  overflow: auto;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.x-ray--is-active {
  opacity: 1;
  z-index: 1200;
}





.x-ray__header {
  padding: 8rem default(spacing) 3rem;
  background-color: rgba(color(black), 0.2);
}



.x-ray__diagram {
  padding: 3rem 0;
}
