<div class="x-ray">
  <header class="x-ray__header">
    <button>close</button>
    <h1 class="type type--heading type--heading-1">Button</h1>
  </header>

  <div class="x-ray__diagram">
    <%= docks_exploded %>
  </div>
</div>

