//*
// @pattern Avatar
//
// A small image representing someone associated with this project. The script part of this component allows it to fetch avatar images from Github, Twitter, or Gravatar, depending on the information provided. If no images are found for the avatar, it will fall back to displaying their initials.
//
// @since 1.0

$avatar--size: 3rem;

//*
// @helper
// <div class="avatar__container">
//   <%= docks_avatar author: OpenStruct.new(name: "Chris Sauve", github: "lemonmade") %>
// </div>

.avatar {
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background: color(gray-light);
  position: relative;
  border-radius: 0.25rem;
  overflow: hidden;

  @include z-index(avatar, page);
}

.avatar__initials {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: color(gray);
  @include z-index(initials, avatar);
}

.avatar__image {
  height: $avatar--size;
  width: $avatar--size;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: relative;
  @include z-index(image, avatar);
  border-radius: 0.25rem;
  overflow: hidden;
}

.avatar__image--is-visible {
  opacity: 1;
}

.avatar__container {
  display: inline-flex;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-bottom: -0.5rem !important;
  max-width: ((3 * $avatar--size) + (3 * 0.5rem))
}
