//*
// @page Exploded
// @author Chris Sauve (github: lemonmade)
//
// An exploded view of a given DOM structure that can be freely rotated. It
// allows the user to see the structure of the component as it is rendered,
// helping them learn about subcomponents that make up the overall structure.

//*
// @helper docks_exploded

.exploded--is-being-dragged .exploded__pane {
  transition: none;
}

.exploded__structure {
  position: relative;
  perspective: 4000px;
  transform-style: preserve-3d;
  cursor: pointer;
}

.exploded__source,
.exploded__structure {
  padding: default(spacing) double(default(spacing));
}


.exploded__pane {
  background: tint(color(slate), 90);
  position: absolute;
  transition: transform 0.3s ease, background 0.3s ease;
  border: 1px solid color(slate-darker);
  @include default(border-radius);
  opacity: 0.8;
  box-sizing: content-box;
}

.exploded__pane--is-hovered {
  background: color(blue-light);
}

.exploded__pane--is-selected {
  background: color(blue);
  opacity: 1;
}






.exploded__details {
  margin-top: 3rem;
}

.exploded__details__tagname {
  display: inline-block;
  background-color: rgba(color(white), 0.1);
  padding: 0.5rem 0.5rem 0.25rem;
  @include default(border-radius);
  line-height: 1;
  color: rgba(color(white), 0.5) !important;
  margin-right: 0.25rem;
}
