//*
// @pattern Select
//
// A custom-styled select.

$select-font-size: 0.8rem;
$select-horizontal-padding: 0.75rem;
$select-line-height: 30px;
$select-top-adjust: 3px;


//*
// @helper
// <%= docks_select options: %w(foo bar baz) %>

.select {
  position: relative;
  border-radius: default(border-radius);
  display: inline-block;
  background-color: transparent;
  border: 1px solid color(gray-dark);

  &:after {
    $size: $select-font-size / 1.41421356237;

    content: '';
    display: block;
    height: $size;
    width: $size;
    border: solid color(gray-dark);
    border-width: 0 2px 2px 0;
    position: absolute;
    right: $select-horizontal-padding;
    top: 50%;
    margin-top: (-0.75 * $size);
    pointer-events: none;
    transform: rotate(45deg);
  }

  + .docks-button {
    margin-left: 0.5rem;
  }
}

.select__input {
  -webkit-appearance: none;
  width: 100%;
  font-size: $select-font-size;
  line-height: ($select-line-height - $select-top-adjust);
  font-family: Consolas, monospace;
  background: transparent;
  padding: 0 (2 * $select-horizontal-padding + $select-font-size) 0 $select-horizontal-padding;
  line-height: default(control-size);
  border: none;
  box-sizing: border-box;
  height: auto;
  max-width: none;
  display: block;
  color: color(gray-dark);

  &:focus {
    outline: none;
    border: none;
  }

  option {
    color: color(slate);
  }
}

// All of the below hacks courtesy of Todd Parker's fine worK here:
// http://jsbin.com / yaruh / 49 / edit

// Hides native select arrow in IE 10+
_:-ms-input-placeholder, :root .select__input::-ms-expand {
  display: none;
}

// Hides blue background on focus in IE 10+
_:-ms-input-placeholder, :root .select__input:focus::-ms-value {
  background: transparent;
  // color: $next-slate;
}

// Crazy hacks to target FF and clip the native select arrow
@supports (-moz-appearance:meterbar) and (background-blend-mode:difference,normal) {

  _::-moz-progress-bar, body:last-child .select__input__wrapper {
    overflow: hidden;
  }

  _::-moz-progress-bar, body:last-child .select__input {
    width: calc(100% + 30px);
  }
}

// Kills the stupid focus ring in FF
.select__input:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
