@import "foundation/functions";
@import "foundation/variables";
@import "foundation/mixins";
@import "foundation/defaults";
@import "foundation/colors";
@import "foundation/z-index";
@import "foundation/font-sizes";

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
}

@import "components/demo";
