<%
  component.configure do |config|
    config.defaults(author: OpenStruct.new(name: "", github: "", twitter: "", email: ""))
  end

  service, profile_name, url = if component.author.github
    ["github", component.author.github, "https://github.com/#{component.author.github}"]
  elsif component.author.twitter
    ["twitter", component.author.twitter, "https://twitter.com/#{component.author.twitter}"]
  elsif component.author.email
    ["email", component.author.email, "mailto:#{component.author.email}"]
  else
    []
  end
%>

<a class="avatar" data-service="<%= service %>" data-profile-name="<%= profile_name %>" href="<%= url.nil? ? "javascript:;" : url %>">
  <span class="avatar__initials"><%= component.author.name.split(" ").map { |name| name[0] }.join("") %></span>
  <div class="avatar__image"></div>
</a>
