<% id = component.id %>

<iframe class="iframe" data-iframe-id="<%= id %>" frameborder="0"></iframe>
<div class="iframe__content"><%= CGI.escapeHTML render(inline: docks_demo(demo: component.demo, id: id), layout: Docks::Templates.demo_template.layout) %></div>
