:ruby
  component.config do |config|
    config.defaults manage_url?: false,
                    light?: false,
                    stretch?: false

    config.classes  base: "tablist"

    config.conditional_classes from: :size, large: { base: "tablist--large" }
    config.conditional_classes if: :stretch?, base: "tablist--stretch"
    config.conditional_classes if: :manage_url?, base: "tablist--manages-url"
    config.conditional_classes if: :light?, base: "tablist--light"
  end

%div{role: "tablist", class: component.classes_for(:base)}
  = capture(&component.block)
