.table__container
  .table__actions
    .docks-button__segmented-container
      %button.docks-button{style: "font-family: Consolas;", "table-action" => "shift-left"} &lt;
      %button.docks-button{style: "font-family: Consolas;", "table-action" => "shift-right"} &gt;
  .table__backdrop
    .table__scroller
      %table.table= capture(&component.block)
