<% variation = component.variation %>

<div class="toggle" id="toggle--<%= variation.name %>" role="button" tabindex="0" data-variation-name="<%= variation.name %>">
  <div class="toggle__main">
    <span class="toggle__type"><%= variation.symbol_type %></span>
    <% base_component = Docks::Naming.convention.component(variation.name) %>
    <span class="toggle__name"><%= variation.name.gsub(base_component, "<span class='helper--visually-hidden'>#{base_component}</span>") %></span>
  </div>

  <span class="toggle__info">?</span>
</div>
