<% components ||= [] %>
<nav class="sidebar">
  <div class="sidebar__header">
    <h1>Docks</h1>
  </div>
  <ul>
    <% components.each do |section| %>
      <li>
        <a href="./<%= section %>.html">
          <%= section %>
        </a>
      </li>
    <% end %>
  </ul>
</nav>
